<mat-toolbar color="primary" style="height: 50px">
   <span>
    <button mat-icon-button>
      <mat-icon style="">home</mat-icon>
    </button>
</span>
  <span style="flex: 4 1 auto"></span>
  <span>
    <button mat-raised-button color="primary" class="mat-elevation-z0">
      Lugares
    </button>
  </span>
  <span>
    <button mat-raised-button color="primary" class="mat-elevation-z0">
      Estadísticas
    </button>
  </span>
  <span>
    <button mat-button [matMenuTriggerFor]="menu">Menu</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
    <!--button mat-raised-button color="primary" class="mat-elevation-z0">
      Configuración
    </button-->
  </span>
  <span>
    <button mat-raised-button color="primary" class="mat-elevation-z0">
      Salir
    </button>
  </span>
</mat-toolbar>
