<form [formGroup]="loginForm" (ngSubmit)="submit()" novalidate>
  <div class="form-group">
    <label class="center-block">Email:
      <input class="form-control" formControlName="email">
    </label>

    <div *ngIf="loginForm.get('email').errors" class="alert alert-danger">
      <div *ngIf="loginForm.get('email').errors['required']">
        Email requerido
      </div>
      <div *ngIf="loginForm.get('email').errors['email']">
        Email incorrecto
      </div>
    </div>
  </div>

  <div class="form-group">
    <label class="center-block">Password:
      <input type="password" class="form-control" formControlName="password">
    </label>

    <div *ngIf="loginForm.get('password').errors" class="alert alert-danger">
      <div *ngIf="loginForm.get('password').errors['required']">
        Password requerido
      </div>
      <div *ngIf="loginForm.get('password').errors['minlength']">
        Password inseguro
      </div>
    </div>
  </div>

  <button type="submit" class="btn btn-primary btn-block" [disabled]="!loginForm.valid">Login</button>

  <button type="reset" class="btn btn-default btn-block">Reset</button>

</form>
