<app-barra-superior></app-barra-superior>
<br>
<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4">
    <h1>Lugar</h1>
  </div>
  <div class="col-sm-4"></div>
</div>
<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <table class="table table-striped table-bordered">
      <thead>
      <tr>
        <th>Nombre TipoLugar</th>
        <th>Nombre Lugar</th>
        <th>Accion</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let tipoLugar of lugares; let i = index">
        <td>
          <input matInput [(ngModel)]="tipoLugar.id_tipolugar" class="form-control" type="text" name="{{tipoLugar.id_tipolugar}}"/>
        </td>
        <td>
          <input matInput [(ngModel)]="tipoLugar.nombreLugar" class="form-control" type="text" name="{{tipoLugar.nombreLugar}}"/>
        </td>
        <td>
          <button mat-raised-button color="primary" class="btn btn-default" type="button" (click)="deleteFieldValue(i)">Delete</button>
        </td>
      </tr>
      <tr>
        <td>
          <input matInput class="form-control" type="text" id="newAttributeCode" [(ngModel)]="newLugar.id_tipolugar"
                 name="newAttributeCode"/>
        </td>
        <td>
          <input matInput class="form-control" type="text" id="newAttributeCodeName" [(ngModel)]="newLugar.nombreLugar"
                 name="newAttributeCode"/>
        </td>
        <td>
          <button mat-raised-button color="primary" class="btn btn-default" type="button" (click)="addFieldValue()">Add</button>
        </td>
      </tr>
      </tbody>
    </table>

  </div>
  <div class="col-sm-2"></div>
</div>
