<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-6">
    <br>
    <br>
    <mat-toolbar color="primary">
      REGISTRAR
    </mat-toolbar>
    <mat-card class="mat-elevation-z0" style="border-style: solid; border-width: 1px; border-color: #f5f5f5">
      <mat-card-content>
        <form class="registro">
          <div>
            <mat-form-field style="width: 100%">
              <input matInput placeholder="Nombre Usuario" name="nombre" [formControl]="nombreControl" [errorStateMatcher]="matcher">
              <mat-error *ngIf="nombreControl.hasError('required')">
                El nombre de usuario es <strong>necesario</strong>
              </mat-error>
            </mat-form-field>
            <br>
            <mat-form-field style="width: 100%">
              <input matInput placeholder="Correo" name="correo" [formControl]="correoControl" [errorStateMatcher]="matcher">
              <mat-error *ngIf="correoControl.hasError('email') && !correoControl.hasError('required')">
                Ingrese un correo válido
              </mat-error>
              <mat-error *ngIf="correoControl.hasError('required')">
                El correo es <strong>necesario</strong>
              </mat-error>
            </mat-form-field>
            <mat-form-field style="width: 100%">
              <input matInput placeholder="Contraseña" type="password" name="contrasena" [formControl]="contrasenaControl" [errorStateMatcher]="matcher">
              <mat-error *ngIf="contrasenaControl.hasError('required')">
                La contraseña es <strong>necesario</strong>
              </mat-error>
            </mat-form-field>
            <label style="font-size: 15px">Escoge un Avatar</label>
              <div class="row">
                <div class="col-sm-3 text center" *ngFor="let avatar of arregloAvatar">
                  <button mat-button>
                    <img class="imagen_avatar" [src] = "avatar.urlImagen" alt="" style="opacity: 1; transform: scale(1); transition-duration: 400ms;" (click)="ponerUrlImg(avatar.urlImagen)">
                  </button>
                </div>
              </div>
          </div>
        </form>
      </mat-card-content>
      <div class="row">
        <div class="col-sm-6">
          <button mat-raised-button color="primary" style="box-sizing: content-box; text-align: center" (click)="ingresar()">Registrar</button>
        </div>
        <div class="col-sm-6">
          <button mat-raised-button color="primary" style="box-sizing: content-box; text-align: center" (click)="ingresar()">Cancelar</button>
        </div>
      </div>

    </mat-card>
  </div>
  <div class="col-sm-3"></div>
</div>
